*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:"Noto Sans JP",sans-serif;
}
a{
    text-decoration: none;
    color: #009645;
    
}
/* Navbar*/
#navbar{
    color: #009645;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0 0.75rem;
    height: 65px;
    
}
#navbar ul{
    list-style-type: none;
    display: flex;
}
#navbar ul li a{
    padding: 0.5rem;
}

#navbar ul li a:hover{

    color: #FFEC01;
    background-color:#009645 ;
    border-radius: 5px;
    
}
/* Home */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
    
}
#home img{
    max-width: 50%;
    height: auto;
    border-radius:100% ;
    border: 1px solid gray;
}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity:0.6 ;
    font-style: italic;
    margin-bottom: 2.25rem;
}
/* Cars */
#cars{
    color: #fff;
    padding: 1rem;

}
#cars .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cars .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;


}
#cars .items .item:hover{
    color:red ;
    opacity: 0.6;

}
/* Models*/
#models{
    color: #333;
    padding: 1rem;

}
.models{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.models .model{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}
.models .model .model-image {
    margin-right: 4rem;
    position: relative;
    

}
.models .model .model-image img {
   border-radius: 10px;

}
.models .model .model-image span {
    background: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top:0;
    left:0;

}

.models .model .model-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
    

}
.models .model .model-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
    

}
.models .model .model-info .company{
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.25rem;
    
}

.models .model .model-info .rating{
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.25rem;
    
}
/*Contact*/
#contact{
    color: #009645;
    padding: 1rem;
}
 #contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size:2rem ;
}
#contact .contact-form ul li a:hover{
    opacity: 0.5;
}
    