#navbar{
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-top:0.5rem ;
    overflow: hidden;
    height: 80px;
}
#cars .items{
    flex-direction: column;

}
#cars .items .item{
    width: 100%;
}
.models .model{
    flex-direction: column;
}
.models .model .model-image img{
    max-width: 200px;
}